<!DOCTYPE html>
<html>
    <head>
        <title>Directory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome/css/all.css" >
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/dir/dir.css">
    </head>
    <body>
        <div class="container">
            <div id="current_dir" >
                <a href="/dir/browse/{{ back_dir }}"><i class="fas fa-angle-double-left green_btn"></i></a>
                <i class="fas fa-chevron-circle-left green_btn" onclick="window.history.back()"></i><i class="fas fa-chevron-circle-right green_btn" onclick="window.history.forward()"></i>
                <i class="fas fa-folder-open"> <i class="simple_text">{{ directory_name }}</i></i>
            </div >
            <div class="dir_content">
                <div >
                    {% for dir, path in directory_directories %}
                        <i class="fas fa-folder folder_item"> <i class="simple_text"><a href="/dir/browse/{{ path }}">{{ dir }}</a></i></i> <br/>
                    {% endfor %}
                </div>

                <div >
                    {% for file, path, content, type in directory_files %}
                        <div class="row">
                        {% if content == 'video' %}
                            <div class="col-md-6">
                                <i class="fas fa-film film_item"> <i class="simple_text">{{ file }}</i></i>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/download/{{ path }}"><i class="fas fa-download download_btn"></i></a>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/browse/{{ path }}"><i class="far fa-play-circle"></i></a>
                            </div>
                        {% elif content == 'audio' %}
                            <div class="col-md-6">
                                <i class="fas fa-music music_item"> <i class="simple_text">{{ file }}</i></i>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/download/{{ path }}"><i class="fas fa-download download_btn"></i></a>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/browse/{{ path }}"><i class="fas fa-volume-up"></i></a>
                            </div>
                        {% elif content == 'image' %}
                            <div class="col-md-6">
                                <i class="fas fa-image image_item"> <i class="simple_text">{{ file }}</i></i>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/download/{{ path }}"><i class="fas fa-download download_btn"></i></a>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/browse/{{ path }}"> <i class="far fa-eye"></i></a>
                            </div>
                        {% else %}
                            <div class="col-md-6">
                                <i class="far fa-file file_item"> <b><i class="simple_text">{{ file }}</i></b> </i>
                            </div>
                            <div class="col-md-1">
                                <a href="/dir/download/{{ path }}"><i class="fas fa-download download_btn"></i></a>
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </body>
</html>
