@import url("/static/assets/fonts/fonts.css");

* {
  font-family: IRANSans, serif;
}

html {
  direction: rtl;
}

.container {
  align-content: center;
  padding: 0;
  margin: 0;
}

.card-body {
  padding: 0;
}

#icon {
  height: 50px;
  /* max-width: 100px;
  min-height: 50px;
  min-width: 120px; */
  margin-top: 5px;
}

.nav_button {
  min-width: 30px;
  padding: 3px 7px 3px 7px;
  margin: 20px 5px 10px 5px;
}

#header {
  height: 60px;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1050;
  width: 100%;
  margin: 0;
  background: #ffffff;
}


#profile_button a,
#exit_button a {
  color: black;
}

#header_logo {
  background-image: url("/static/assets/logo/logo.png");
  height: 10%;
}

#profile_button,
#exit_button {
  padding-top: 2%;
}

#project_header {
  background: #b9eff2;
  height: 9em;
  margin-bottom: -2%;
  width: 100%;
  top: 70px;
}


#header_title{
  font-size: 18px;
  padding-top: 15px;
}

#exit_buttom{
    padding-top: 15px;
  }

@media only screen and (max-width: 600px) {
    #header_title{
        font-size: 12px;
      }
      #exit_buttom{
        padding-top: 20px;
        font-size: 10px;
      }
      
}




/* homepage.css */



* {
    font-family: IRANSans, serif;
}

html {
    direction: rtl;
}

.card-body {
    padding: 0;
}


.nav_button{
    min-width: 30px;
    padding: 3px 7px 3px 7px;
    margin: 20px 5px 10px 5px;
}

#header {
    height: 60px;
    top: 0;
    bottom:0;
    position:fixed;
    z-index:1050;
    width:100%;
    margin: 0;
    background: #ffffff;
}


#profile_button a, #exit_button a {
    color: black;
}

#header_logo {
    background-image: url('/static/assets/logo/logo.png');
    height: 10%;
}

#profile_button, #exit_button {
    padding-top: 2%;
}

#project_header {
    background: #B9EFF2;
    height: 9em;
    margin-bottom: -2%;
    width:100%;
    top:70px;
}

.input-group {
    margin: 0;
}


.container-fluid {
    padding: 0;
}

.main {
    min-height: calc(100vh - 60px);
    direction: rtl;
}

#body {
    margin-bottom: 100px;
    max-width: 94%;
    margin-right: 3%;
    font-size: 12px;
}

body {
    background: #F5F5F5;
}


.detail .detail_description {
    margin: 0 10px 0 0;
    padding: 3px 0 0 0;
}

.deadline_detail {
    color: #666666;
}


#project_information {
    margin: 10px 0 0 0;
}



#project_splitter {
    height: 5px;
    border-top: 2px dashed #00D3DF;
}

.point_badge {
    padding: 6px 7px;
    background-color: #B9EFF2;
    color: #006264;
}

.endorse_badge {
  padding: 6px 7px;
  background-color: #00B800;
  color: #FFFFFF;
}


#already_bid_message, #bid_deadline_error {
    padding-top: 3%;
}

#already_bid_message {
    color: green;
}

#bid_deadline_error {
    color: red;
}

#project_status {
    height: 30%;
    vertical-align: middle;
    padding-right: 2%;
}

.form-control {
    border: none;
}

.form-control:focus {
    border: none;
}

#bid_form, #bid_form_div {
    padding: 10px 0 10px 0;
    display: inline-block;
}

#bid_input {
    border: none;
    /*width: 40%;*/
}

#form_row {
    margin-right: 10px;
    width: 400px;
}
#input_row {
    text-align: right;
    border-style: groove;
    border-radius: 4px;
    border-width: 2px;
    border-color: #00BFD2;
}

#bid_title {
    margin: 0 10px 0 0;
}

#bid_text {
    text-align: right;
    padding-right: 0;
}

#currency_span {
    text-align: left;
    padding: 2px 0 0 10px;
    margin-top: 5px;
    color: #00BFD2;
}

/*#bud_submit_button {*/
    /*background-color: #00BFD2;*/
/*}*/

.btn {
    /* background-color: #00BFD2; */
    color: #ffffff;
}

.col-sm-0 {
    width: 0;
    padding:  0;
}

.col-xs-0 {
    width: 0;
    padding :0;
}

#bid_submit {
    height: 100%;
}

#joboonja_logo {
    text-align: right;
}

#home_header {
    background: #B9EFF2;
    height: 21em;
    margin-bottom: -50px;
    width:100%;
    top:70px;
    overflow: hidden;
}

#header_placeholder{
    height: 60px;
}



#search_container {
    height: 30%;
    vertical-align: middle;
    padding-right: 2%;
}

#search_form{
    align-items:center;
}

#search_project {
    width: 330px;
    padding-left: 0;
    background-color: #D6F7F9;
    margin-top:10px;
    border-bottom: 3px solid #00AEBE;
}

#project_search_input_container {
    padding: 0;
}

#project_search_input {
    margin: 3px;
    background-color: #D6F7F9;
}

#submit_search {
    padding-left: 0px;
}

#project_search_button{
    margin:4px;
    background-color:#00AEBE;
    color:#FFFFFF;
    border-radius: 0;
}

.big_text{
    font-size: 18px;
}


.small_text{
    font-size: 10px;
}

.medium_text{
    font-size: 14px;
}

.text_space{
    padding: 4px 5px;
    margin-bottom: 0;
}

#menu{
    margin-top: 15px;
}

#search_member_form{
    padding: 2px;
    background-color: #FFFFFF;
}

#search_member_input{
    width: 100%;
    padding: 10px 10px;
    background: #F8F8F8;
    border:none;

}

#memeber_list{
    padding: 5px 0;
}

.deactive_text{
    color: #9B9B9B;
}

.row{
    margin-right: 0;
    margin-left: 0;
}


.fit_content{
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}